<library path="src">
    <!-- Note that the class name must be unique, else ROS would be able to find it -->
    <!-- The class name also need to follow the "namespace/class_name" convention in order to work properly -->
    <!-- Note that base_class_type changes according to cpp or py -->
    <class name="BUTTONS" type="ros_rqt_plugin.plugin.Buttons" base_class_type="rqt_gui_py::Plugin">
        <description>
            This is an example of two push buttons.
        </description>
        <qtgui>
        <group>
            <label>Topics</label>
            <icon type="theme">folder</icon>
            <statustip></statustip>
        </group>
        <label>Two Push Example Buttons</label>
        <icon type="theme">applications-graphics</icon>
        <statustip>This is an example of two push buttons.</statustip>
        </qtgui>
    </class>
</library>